body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: 'Rethink Sans', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    padding: 12px 10px;
}

.header-title {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#search {
    background: rgb(169, 255, 226);
    height: 30px;
    width: 250px;
    border: 2px solid orangered;
    border-radius: 4px;
    padding-left: 8px;
}

.homepage-link {
    font-family: 'Zen Tokyo Zoo', system-ui;
    align-self: center;
    text-decoration: none;
    color: black;
    font-size: 48px;
    text-align: center;
    width: auto;
    min-width: 265px;
    flex-shrink: 0;
    position: relative;
}

.links {
    display: flex;
    align-self: flex-end;
    align-items: flex-end;
    justify-content: center;
    flex: auto;
    height: auto;
    padding: 6px 0px;
    flex-grow: 2;
    margin: 12px 36px;
    flex-wrap: wrap;
    border-bottom: 2px solid orangered;
    border-top: 2px solid orangered;
    min-width: 380px;
    max-width: 630px;
}

.header-links {
    margin-left: 24px;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.header-links.first {
    margin-left: 0;
}

.header-links:hover {
    color: orangered;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    flex-shrink: 0;
    min-width: 0;
    margin-left: 12px;
    padding: 0;
}

.contact-info h1,
.contact-info h2 {
    align-self: flex-end;
    margin: 12px 0px;
}

.main-learnmore {
    display: flex;
    background-image: url(./images/image2.jpg);
    height: auto;
    width: auto;
    background-size: 100% auto;
    background-position: center;
    border-left: 2px solid aquamarine;
    border: 2px solid aquamarine;
}

.gradientbox {
    height: 75px;
    width: 100%;
    display: flex;
    background: linear-gradient(to bottom, aquamarine, transparent);
    margin-bottom: -50px;
    z-index: 1;
    position: absolute;
}

.mainbox1 {
    height: 600px;
    flex: 1 1 0;
    margin-left: 12px;
}

.mainbox3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 3 1 auto;
    align-self: center;
    text-align: center;
    padding: 0;
}

.learn-more-bckgrnd {
    background-color: aquamarine;
    margin: 24px;
    border-radius: 8px;
    border: 2px solid orangered;
}

.mainbox3 h1 {
    margin: 36px;
    margin-bottom: 12px;
}

.mainbox3 button {
    color: black;
    text-decoration: none;
    text-align: center;
    width: 200px;
    height: 80px;
    font-size: 30px;
    margin: 36px;
    margin-top: 12px;
    font-family: 'Rethink Sans', sans-serif;
    font-weight: bold;
    background: rgb(169, 255, 226);
    border-color: white;
    border-radius: 8px;
    border-style: solid;
}

.mainbox3 button:hover {
    color: orangered;
    background-color: aliceblue;
    transition: 0.25s;
}

.mainbody-text {
    display: flex;
    align-self: center;
    flex: auto;
    width: 400px;
    height: 400px;
    background-color: rgb(124, 253, 210, 0.6);
    position: relative;
    text-align: justify;
    padding: 12px;
}

.main-shop-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 12px;
}

.inhome-shop-text {
    width: 400px;
}

.inhome-shop-image{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 24px 0px;
    background-image: url(./images/shopathome.jpg);
    border: 2px solid orangered;
    height: 350px;
    width: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

.inhome-shop-text button {
    border-radius: 8px;
    background: rgb(169, 255, 226);
    border-color: white;
    margin: 12px 24px;
    font-size: 36px;
    font-family: 'Rethink Sans', sans-serif;
    border-style: solid;
    font-weight: 700;
    padding: 6px 24px;
}

.inhome-shop-text button:hover {
    color: orangered;
    background-color: aliceblue;
    transition: 0.25s;
}

.shopbox1 {
    width: 48px;
    flex-shrink: 4;
}

.brief-about {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 12px;
    margin: 48px 0px;
}

.brief-about-text {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    flex: 1 4 0;
    justify-content: center;
    align-items: center;
    padding-right: 12px;
    height: 400px;
}

.brief-about-text h1 {
    text-align: center;
}

.brief-about button {
    color: black;
    text-decoration: none;
    text-align: center;
    width: 200px;
    height: 80px;
    font-size: 30px;
    margin: 36px;
    margin-top: 12px;
    font-family: 'Rethink Sans', sans-serif;
    font-weight: bold;
    background: rgb(169, 255, 226);
    border-color: white;
    border-radius: 8px;
    border-style: solid;
}

.brief-about button:hover {
    color: orangered;
    background-color: aliceblue;
    transition: 0.25s;
}

.brief-about-divider1,
.brief-about-divider3 {
    flex: 0.1 4 auto;
}

.brief-about-image {
    margin: 0;
    margin-left: 12px;
    flex: 1;
    background-image: url(./images/briefabout.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 600px;
    min-width: 300px;
    border-radius: 8px;
    border: 2px solid orangered;
}

.select-floor-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.select-floor-header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.select-floor-header h1,
.select-floor-header h2 {
    padding: 0;
    margin: 12px;
}

.select-floor-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 870px;
}

.select-floor-box {
    display: flex;
    width: 350px;
    height: 350px;
    margin: 12px 36px;
    align-items: flex-end;
    justify-content: center;
    border: 2px solid orangered;
    border-radius: 8px;
}

.select-floor-box.box1 {
    background-image: url(./images/carpet.jpg);
    background-size: cover;
}

.select-floor-box.box2 {
    background-image: url(./images/tile.jpg);
    background-size: cover;
}

.select-floor-box.box3 {
    background-image: url(./images/vinyl.jpg);
    background-size: cover;
}

.select-floor-box.box4 {
    background-image: url(./images/carpet-tile.jpg);
    background-size: cover;
}

.select-floor-box button {
    width: 150px;
    height: 35px;
    margin: 18px;
    border: 2px solid white;
    background: rgb(169, 255, 226);
    font-weight: 700;
    font-family: 'Rethink Sans', sans-serif;
    font-size: 20px
}

.select-floor-box button:hover {
    color: orangered;
    background-color: aliceblue;
    transition: 0.25s;
}

.request-estimate {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
}

.request-estimate-header {
    border-top: 2px solid orangered;
    text-align: center;
    padding: 0;
    margin: 36px;
}

.request-estimate-header h1 {
    width: auto;
    margin-top: 12px;
    margin-bottom: 8px;
    padding-top: 12px;
}

.request-estimate-block {
    display: flex;
    justify-content: center;
}

.request-estimate-image {
    align-self: center;
    height: auto;
}

.request-estimate-image img{
    align-self: center;
    width: 400px;
    height: 370px;
    margin-left: 12px;
    border: 2px solid orangered;
    border-radius: 8px;
}

.request-estimate-block-spacer {
    width: 100px;
    flex-shrink: 3;
    margin: 12px;
}

.request-estimate-contact-info {
    display: flex;
    flex-direction: column;
    margin-right: 12px;
    justify-content: center;
}

.request-estimate-email p,
.request-estimate-email h2,
.request-estimate-phone p,
.request-estimate-phone h2,
.request-estimate-availability p,
.request-estimate-availability h2 {
    margin: 10px 0px;
}

.request-estimate-email,
.request-estimate-phone {
    margin-bottom: 28px;
}

.footer {
    background-color: aquamarine;
    padding: 12px 48px;
}